<html>
<head>
  <title>Pizza Shop</title>
  <style>
      .button-container {
          display: flex;
          gap: 10px; /* Устанавливаем расстояние между кнопками */
      }

      .fixed-width-btn {
          width: 30px; /* Установите желаемую ширину кнопки */
          padding: 5px; /* Добавьте отступы, если нужно */
          font-size: 12px;
      }

  </style>
</head>
<body>
  <!-- <h2>Welcome to Pizza Shop!</h2>
  <button class="btn btn-primary" onclick="something()">Click me</button>
-->
  <div class="container">
    <h1>Welcome to Pizza Shop!</h1>
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-md-4">

          <div>
            <img src="<%= product.path_to_image %>" class="img-responsive" width="300" height="300" style="width: 100%; margin: 0 auto;"/>
          </div>

          <div>
            <p style="font-size: 25px; text-align: center;"><%= product.title %></p>
          </div>

          <div>
            <p style="font-size: 17px">Size: <%= product.size %> cm</p>
          </div>

          <div>
            <p style="font-size: 17px">Price: <%= product.price %> rub</p>
          </div>

          <div style="button-container">
            <button type="button" class="btn fixed-width-btn">-</button>
            <input type="text" name="amount" value="<" style="width: 50px">
            <button type="button" class="btn fixed-width-btn">+</button>
          </div>

          <br />

          <div>
            <button type="button" class="btn btn-sm btn-success" onclick="add_to_cart(<%= product.id %>)">Add to cart</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <br />

  <!-- Ваши скрипты перед закрывающим тегом </body> -->

</body>
</html>


