<html>
<head>
  <title>Pizza Shop</title>
</head>
<body>
  <!-- <h2>Welcome to Pizza Shop!</h2>
  <button class="btn btn-primary" onclick="something()">Click me</button>
-->
  <div class="container">
    <h1>Welcome to Pizza Shop!</h1>
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-md-4">
          <div>
            <%= product.title %>
          </div>

          <div>
            <img src="<%= product.path_to_image %>" class="img-responsive" width="300" height="300" />
          </div>

          <div>
            <%= product.description %>
          </div>

          <div>
            Size: <%= product.size %> cm
          </div>

          <div>
            Price: <%= product.price %> rub
          </div>

          <div>
            <button type="button" class="btn btn-sm btn-success" onclick="add_to_cart(<%= product.id %>)">Add to cart</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <br />
  <div>
    <button type="button" class="btn" id="checkCartButton">How much in cart?</button>
  </div>

  <!-- Ваши скрипты перед закрывающим тегом </body> -->
  <script src="/cart_count.js"></script>
</body>
</html>


