<html>
<head>
<title>Orders - Pizza Shop</title>
</head>
<body>

  <% @orders.each do |order| %>
    <div>
      Time: <%= order[:created_at] %>
    </div>
    <div>
      Order: <%= orders_input_to_hash(order[:order_input]) %>
    </div>
    <div>
      Name: <%= order[:name] %>
    </div>
    <div>
      Phone: <%= order[:phone] %>
    </div>
    <div>
      Address: <%= order[:address] %>
    </div>

  <form action="/orders/<%= order[:id] %>/delete" method="POST">
    <button type="submit" class="btn btn-success btn-sm">Submit</button>
  </form>
    <br />
    <br />
  <% end %>

</body>
</html>